name: Test Configs

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Install Poetry
        uses: abatilo/actions-poetry@v4
        with:
          poetry-version: 2.1.3

      - name: Install Software
        run: |
          poetry build
          poetry install

      - name: Run Tests
        run: |
          poetry run flake8 podaac
          poetry run pylint podaac
          poetry run pytest
